<br>
<br>
<div class="container border-top">
<footer class="py-5">
  <div class="row">
    <div class="col-6 col-md-2 mb-3">
      <h5>Contato</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">E-mail:</li>
        <li class="nav-item mb-2">Telefone:</li>
        <li class="nav-item mb-2">Facebook:</li>
        <li class="nav-item mb-2">Instagram:</li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <ul class="nav flex-column">
        <br>
        <li class="nav-item mb-2">@usopessoal123.gmail.com</li>
        <li class="nav-item mb-2">(12)-1222222</li>
        <li class="nav-item mb-2">usopesoal123</li>
        <li class="nav-item mb-2">usopesoal123</li>
      </ul>
    </div>




  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4  ">
    <p>© 2022 Todos direitos Reservados.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </div>
</footer>
</div>


