<!-- <header class="p-0 text-bg-dark">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <img src="/assets/Imagem/logor3.png" class="img-fluid" style="max-width: 90px;">
      </a>



      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-secondary btn-lg active" id="dropdownBasic1" ngbDropdownToggle >
          Generos
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg active" id="dropdownBasic1" ngbDropdownToggle>
          Generos
        </button>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

          <button ngbDropdownItem> <a routerLink="/esporte" style="color: black;"> Esporte</a></button>
          <button ngbDropdownItem> <a routerLink="/automoveis" style="color: black;">  Automoveis</a></button>
          <button ngbDropdownItem> <a routerLink="/politica" style="color: black;">  Politica</a></button>
        </div>
      </div>

      <ul class="col-6 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0 ">
        <a routerLink="/em-alta" class=" btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Em Alta</a>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
      </form>
    </div>
  </div>
</header> -->

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="/assets/Imagem/logor3.png" class="bi me-2" width="65" height="72" role="img" aria-label="Bootstrap">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a href="#" class="nav-link px-3 text-white">Home</a></li> -->
        <!-- <li><a href="#" class="nav-link px-3 text-white">Cultura</a></li> -->
        <!-- <li><a href="#" class="nav-link px-3 text-white">Tecnologia</a></li> -->
        <li><a href="../esporte/" class="nav-link px-3 text-white">Esporte</a></li>
        <li><a href="../automoveis/" class="nav-link px-3 text-white">Automoveis</a></li>
        <li><a href="../politica/" class="nav-link px-3 text-white">Politica</a></li>
        <li><a href="../principais/" class="nav-link px-3 text-white">Principais</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button routerLink="/login" type="button" class="btn btn-outline-light me-2">Login</button>
        <button routerLink="/cadastre-se" type="button" class="btn btn-warning">Cadastre-se</button>
      </div>
    </div>
  </div>
</header>