<br>
<br>
<div class="container-fluid">
<div class="row">

  <div class="col-3">
    <img style="height: 600px; width: 100%;" src="/assets/Imagem/shutterstock_2111449457.jpg">

  </div>
     <div class="col-6">
      <h1>{{titulo}}</h1>
      <br>
      <h5 style="color: gray;">{{sub_titulo}}</h5>
      <br>
      <img style="height: 450px; width: 100%;" src="http://localhost:4200/{{imagem}}">
      <br>
      <h5 style="color: gray;"> {{texto}}</h5>

     
      <br>
      <br>
      <h5 style="color: gray;">{{texto}}</h5>

        <br>
        <br>
        <h5 style="color: gray;">

        </h5>
     </div>



     <div class="col-3">
      <img style="height: 600px; width: 100%;" src="/assets/Imagem/shutterstock_2111449457.jpg">
     </div>


  </div>
</div>

