
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <b><u><a routerLink="/esporte" class="nav-link px-2 link-dark "> Politica <i class="bi bi-chevron-right"></i></a></u></b>

        <li><a href="#" class="nav-link px-2 link-body-emphasis">Economia</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Imposto</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">STF</a></li>
      </ul>

    </div>
  </div>
</header>

<div class="container">
  <div class="row">
  <div class="col-10">
    <div class="row">
      <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> 123 Milhas</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


      </div>
      <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/indio.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> Indígena Dionísia</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Grupo de Indígenas iniciaram lutas pela independência no Ceará</a></p></a>


      </div>
      <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/comida.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> Gastronomia de Taiwan</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Conhece a gastronomia de Taiwan? Aiô é novo restaurante na Vila Mariana</a></p></a>


      </div>
      <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> 123 Milhas</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


      </div>

       <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> 123 Milhas</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


      </div>

      <div class="col-4 text-center">

        <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

        <h4 class="fw-normal"> 123 Milhas</h4>

        <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


      </div>
    </div>




  </div>
  <div class="col-2">

    <div>
      <h4 class="fst-italic">Recent posts</h4>
      <ul class="list-unstyled">
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
            <div class="col-lg-8">
              <h6 class="mb-0">Example blog post title</h6>
              <small class="text-body-secondary">January 15, 2023</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
            <div class="col-lg-8">
              <h6 class="mb-0">This is another blog post title</h6>
              <small class="text-body-secondary">January 14, 2023</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
            <div class="col-lg-8">
              <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
              <small class="text-body-secondary">January 13, 2023</small>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="container">
    <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia"><p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar clientes</a></p></a>


        </div>
      </div>




    </div>



