<div class="row">

  <div class="col text-center">

    <h3><u>Esporte</u></h3>

  </div>

</div>

<div class="row">

  <div class="col text-center p-5">

    <a routerLink="/noticia"><img src="/assets/Imagem/rosa.jpg" class="img-fluid"></a>

    <h4 class="fw-normal">Klinsmann aposta em transformação da MLS</h4>

    <p>Com chegada de Lionel Messi
      Alemão, que teve impacto marcante no crescimento da Premier League, crê que argentino possa fazer algo semelhante nos EUA.</p>

    <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

  </div>

<div class="col text-center p-5">

 <a routerLink="/noticia"> <img src="/assets/Imagem/ball.jpg" class="img-fluid"></a>

  <h4 class="fw-normal">Brasil comete erros e perde para a Espanha</h4>

  <p>Copa do Mundo de basquete
    Placar elástico pode ser problemático para a formação verde-amarela na sequência da competição.</p>

  <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

<div class="col text-center p-5">

 <a routerLink="/noticia"><img src="/assets/Imagem/espa.jpg" class="img-fluid"></a>

<h4 class="fw-normal">Ministério Público espanhol</h4>

<p>Investigação preliminar contra Rubiales
  Órgão diz que entrará em contato com Jenni Hermoso para lhe informar sobre direito de formalizar denúncia.</p>

<p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

</div>

<div class="row">

  <div class="col text-center">

    <h3><u>Politica</u></h3>

  </div>

</div>

<div class="row">

  <div class="col text-center p-5">

    <a routerLink="/noticia"><img src="/assets/Imagem/velho.jpg" class="img-fluid"></a>

    <h4 class="fw-normal">Morre José Gregori</h4>

    <p>Ministro da Justiça e secretário dos Direitos Humanos sob FHC. Advogado filiado ao PSDB foi referência na defesa da democracia e na luta contra a ditadura militar.
    </p>


    <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

  </div>

<div class="col text-center p-5">

 <a routerLink="/noticia"> <img src="/assets/Imagem/bolos.jpg" class="img-fluid"></a>

  <h4 class="fw-normal">Boulos ataca Ricardo Nunes</h4>

  <p>Boulos diz que 'ninguém mais cai' no rótulo de invasor e que não demoniza setor privado.</p>

  <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

<div class="col text-center p-5">

 <a routerLink="/noticia"><img src="/assets/Imagem/bolor.jpg" class="img-fluid"></a>

<h4 class="fw-normal">Filho de Jair Bolsonaro divulga livro digital</h4>

<p>Carlos esquece gabinete do ódio e lança livro com narrativa açucarada das redes do pai</p>

<p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

</div>

<div class="row">

  <div class="col text-center">

    <h3><u>Cultura</u></h3>

  </div>

</div>

<div class="row">

  <div class="col text-center p-5">

    <a routerLink="/noticia"><img src="/assets/Imagem/livro.jpg" class="img-fluid"></a>

    <h4 class="fw-normal">Bienal do Livro do Rio</h4>

    <p>Bienal do Livro do Rio tem editoras projetando vendas recordes e dias históricos Record e Rocco tiveram maior faturamento da história no sábado</p>

    <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

  </div>

<div class="col text-center p-5">

 <a routerLink="/noticia"> <img src="/assets/Imagem/ball.jpg" class="img-fluid"></a>

  <h4 class="fw-normal">Brasil comete erros e perde para a Espanha</h4>

  <p>Copa do Mundo de basquete
    Placar elástico pode ser problemático para a formação verde-amarela na sequência da competição.</p>

  <p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

<div class="col text-center p-5">

 <a routerLink="/noticia"><img src="/assets/Imagem/espa.jpg" class="img-fluid"></a>

<h4 class="fw-normal">Ministério Público espanhol</h4>

<p>Investigação preliminar contra Rubiales
  Órgão diz que entrará em contato com Jenni Hermoso para lhe informar sobre direito de formalizar denúncia.</p>

<p><a class="btn btn-secondary" href="/noticia">Veja Mais</a></p>

</div>

</div>

