<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <b><u><a routerLink="/esporte" class="nav-link px-2 link-dark "> Esporte <i
                class="bi bi-chevron-right"></i></a></u></b>

        <li><a href="#" class="nav-link px-2 link-body-emphasis">Basquete</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Volei</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Futebol</a></li>
      </ul>

    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">

        <div class="row-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis"><a
                  routerLink="/esporte">Esporte</a></strong>
              <h3 class="mb-0">Postagem em destaque</h3>
              <div class="mb-1 text-body-secondary">Out 13</div>
              <p class="card-text mb-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <strong class="d-inline-block mb-2 text-primary-emphasis"><a routerLink="/noticia">Continuar
                  Lendo</a></strong>
            </div>
            <div class="col-auto d-none d-lg-block">
              <a routerLink="/noticia"><img class="bd-placeholder-img" width="250" height="250"
                  src="/assets/Imagem/comida.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis"><a
                  routerLink="/esporte">Esporte</a></strong>
              <h3 class="mb-0">Postagem em destaque</h3>
              <div class="mb-1 text-body-secondary">Out 13</div>
              <p class="card-text mb-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <strong class="d-inline-block mb-2 text-primary-emphasis"><a routerLink="/noticia">Continuar
                  Lendo</a></strong>
            </div>
            <div class="col-auto d-none d-lg-block">
              <a routerLink="/noticia"><img class="bd-placeholder-img" width="250" height="250"
                  src="/assets/Imagem/comida.jpg"></a>
            </div>
          </div>

          <div class="row-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis"><a
                    routerLink="/esporte">Esporte</a></strong>
                <h3 class="mb-0">Postagem em destaque</h3>
                <div class="mb-1 text-body-secondary">Out 13</div>
                <p class="card-text mb-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <strong class="d-inline-block mb-2 text-primary-emphasis"><a routerLink="/noticia">Continuar
                    Lendo</a></strong>
              </div>
              <div class="col-auto d-none d-lg-block">
                <a routerLink="/noticia"><img class="bd-placeholder-img" width="250" height="250"
                    src="/assets/Imagem/comida.jpg"></a>
              </div>
            </div>

            <!-- INSIRA AQUI OS CARD-->

         
      </div>
    </div>
  </div>
</div>

<div class="col-2">


</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>

        <div class="col-4 text-center">

          <a routerLink="/noticia"><img src="/assets/Imagem/123.jpg" class="img-fluid"></a>

          <h4 class="fw-normal"> 123 Milhas</h4>

          <a routerLink="/noticia">
            <p><a href="noticia" class="link-secondary">Justiça manda 123milhas emitir passagens ou reembolsar
                clientes</a></p>
          </a>


        </div>
      </div>
 -->



    </div>